@import "~@blueprintjs/core/lib/scss/variables";

@mixin boxed($color) {
    box-shadow: 1px 0 $color, -1px 0 $color, 0 1px $color, 0 -1px $color;
}

$north-title: $cobalt1;
$north-active: $cobalt3;
$north-color: rgba($cobalt4, 0.75);
$north-hover: rgba($cobalt5, 0.75);
$north-background: rgba($cobalt4, 0.15);
$north-line: rgba($cobalt2, 0.15);
$north-move-normal: $cobalt1;
$north-move-special: $cobalt5;

$south-title: $vermilion1;
$south-active: $vermilion3;
$south-color: rgba($vermilion4, 0.75);
$south-hover: rgba($vermilion5, 0.75);
$south-background: rgba($vermilion4, 0.15);
$south-line: rgba($vermilion2, 0.15);
$south-move-normal: $vermilion1;
$south-move-special: $vermilion5;

:export {
    northTitle: $north-title;
    northActive: $north-active;
    northColor: $north-color;
    northHover: $north-hover;
    northBackground: $north-background;
    northLine: $north-line;

    southTitle: $south-title;
    southActive: $south-active;
    southColor: $south-color;
    southHover: $south-hover;
    southBackground: $south-background;
    southLine: $south-line;
}
