@import "~@blueprintjs/core/lib/scss/variables";

.add-new-staged-action {
    position: absolute;
    z-index: 10;
}

.spawn-new-tiles-container {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.direction {
    position: absolute;
}
