@import "~@blueprintjs/core/lib/scss/variables";

.staged-container {
    display: flex;
}

.staged-container-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;
}

.type-and-name {
    display: flex;
    justify-content: space-between;
}

.player-info {
    padding-top: 5px;
}

.button-container {
    display: flex;
    box-shadow: -1px 0 $pt-divider-black;

    :global(.bp3-button) {
        display: flex;
        flex: 1;
        padding: 0 20px;
        border-radius: 0;
    }
}
