@import "../../utils/variables";

.north {
    fill: $north-color;
}

.south {
    fill: $south-color;
}

.north-spawn {
    fill: $north-active;
}

.south-spawn {
    fill: $south-active;
}

.north-line {
    stroke: $north-active;
}

.south-line {
    stroke: $south-active;
}

.hidden {
    fill: $gray4;
    cursor: not-allowed;
}
