@import "../../utils/variables";

.north {
    fill: $north-color;
}

.south {
    fill: $south-color;
}

.north-spawn {
    fill: $north-active;
}

.south-spawn {
    fill: $south-active;
}

.north-line {
    stroke: $north-active;
}

.south-line {
    stroke: $south-active;
}

.north-special {
    stroke: $north-title;
    fill: $north-title;
}

.south-special {
    stroke: $south-title;
    fill: $south-title;
}

.hidden {
    fill: $gray4;
    cursor: not-allowed;
}

.star {
    fill: $gold4;
}

.cross {
    fill: $red4;
}
