@import "~@blueprintjs/core/lib/scss/variables";
@import "../../utils/variables";

.actions-sidebar {
    display: flex;
    flex-direction: column;
    background: $light-gray4;
    box-shadow: 1px 0 $pt-divider-black;
}

.section {
    position: relative;
    display: flex;
    box-shadow: 0 1px $pt-divider-black;
}

.turn-and-game-section {
    height: 60px;
}

.turn {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 5px;
    box-shadow: 1px 0 $pt-divider-black;
}

.turn-title {
    position: absolute;
    font-size: 14px;
}

.turn-number {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.game-state {
    position: relative;
    display: flex;
    flex: 1;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.change-state-button {
    position: absolute;
    right: 5px;
    top: 14px;
}

.both-team-information {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, $north-background, $south-background);
    margin: 1px 0;
}

.one-team {
    display: flex;
    flex: 1;
    justify-content: center;
}

.one-team-score {
    font-size: 22px;
}

.both-teams-container {
    display: flex;
    padding: 10px;
}

.available-pieces {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.staged-actions-container {
    flex: 1;
}

.staged-actions-list {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;

    > :nth-child(even) {
        background: $light-gray3;
    }
}

.staged-actions-title {
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 22px;
    text-decoration: underline;
}
