@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/scss/variables";

* {
    font-size: 20px;
    font-family: 'Balsamiq Sans', cursive;
    line-height: 20px;
}

body {
    background: $light-gray5;
    color: $dark-gray4;
}
