@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/scss/variables";

* {
    font-size: 12px;
    font-family: 'Press Start 2P', sans-serif;
}

body {
    background: $light-gray5;
    color: $dark-gray4;
}
