@import "~@blueprintjs/core/lib/scss/variables";

.board-container {
    display: flex;
    flex: 1;
    margin: 20px 60px;
}

.board {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    border: 0.5px $pt-divider-black solid;
    border-radius: 3px;
}

.row {
    display: flex;
}
