@import "~@blueprintjs/core/lib/scss/variables";
@import "../../utils/variables";

.free-tile {
    position: absolute;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    
}

.north-tile {
    background: $north-background;
    box-shadow: 1px 0 $north-line, -1px 0 $north-line, 0 -1px $north-line, 0 1px $north-line;
}

.south-tile {
    background: $south-background;
    box-shadow: 1px 0 $south-line, -1px 0 $south-line, 0 -1px $south-line, 0 1px $south-line;
}