@import "~@blueprintjs/core/lib/scss/variables";
@import "../../utils/variables";

.free-tile {
    position: absolute;
    transition: box-shadow 200ms ease-out, top 650ms ease-out, left 650ms ease-out;
    animation: fade-in 200ms ease-out;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.north-tile {
    background: $north-background;
    border: 1px solid $north-line;
}

.normal-tile {
    background: $white;
    border: 1px solid rgba($dark-gray2, 0.15);
}

.south-tile {
    background: $south-background;
    border: 1px solid $south-line;
}

.spawn-over-alive-tile {
    opacity: 0.5;
}

.can-select-tile {
    box-shadow: 0 0 7px 2px $gold5 inset;
}

.is-selected-tile {
    box-shadow: 0 0 7px 3px $gold2 inset;
}

.is-part-of-spawn-action {
    border: 2px solid $forest4;
}

.is-part-of-move-action {
    box-shadow: 0 0 7px 2px $sepia4 inset;
}

.is-part-of-special-action {
    box-shadow: 0 0 7px 2px $indigo4 inset;
}

.destroyed-piece {
    position: absolute;
    opacity: 0;
    z-index: -1;
    animation-name: destroy;
    animation-duration: 1000ms;
    animation-timing-function: ease-out;
}

@keyframes destroy {
    0% {
        opacity: 1;
        z-index: 11;
    }
    20% {
        opacity: 1;
        transform: none;
    }
    40% {
        opacity: 1;
        transform: scale(1.3);
    }
    70% {
        opacity: 1;
        transform: scale(1.3);
    }
    100% {
        opacity: 0;
        transform: scale(1.3) translateX(-100%);
        z-index: 11;
    }
}

.scored-piece {
    position: absolute;
    opacity: 0;
    z-index: -1;
    animation: score 2000ms ease-out;
}

@keyframes score {
    0% {
        opacity: 1;
        z-index: 10;
    }
    50% {
        opacity: 1;
        transform: none;
    }
    60% {
        opacity: 1;
        transform: scale(1.3);
    }
    75% {
        opacity: 1;
        transform: scale(1.3);
    }
    100% {
        opacity: 0;
        transform: scale(1.3) translateX(100%);
        z-index: 10;
    }
}

.actionable-piece {
    z-index: 1;
}
