@import "~@blueprintjs/core/lib/scss/variables";
@import "../../utils/variables";

.free-tile {
    position: absolute;
    transition: box-shadow 200ms ease-out, top 650ms ease-out, left 650ms ease-out;
    animation: fade-in 200ms ease-out;
    transform: translate(0,0);
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.north-tile {
    background: $north-background;
    border: 1px solid $north-line;
}

.south-tile {
    background: $south-background;
    border: 1px solid $south-line;
}

.can-select-tile {
    box-shadow: 0 0 5px 1px $gold5 inset;
}

.is-selected-tile {
    box-shadow: 0 0 5px 2px $gold3 inset;
}
