@import "~@blueprintjs/core/lib/scss/variables";

.board-container {
    display: flex;
    flex: 1;
    margin: 40px 60px 20px;
}

.board {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.row-label {
    position: absolute;
    left: -25px;
    color: $gray4;
    transform: translateY(-50%);
}

.column-label {
    position: absolute;
    top: -25px;
    color: $gray4;
    transform: translateX(-50%);
}
